<div class="bg-white mt-2 border-bottom">
  <div class="content-header p-0">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">New Student</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'form' %>
